<aotw-button ghost (click)="toggleMenu('main')">
  <aotw-icon name="shine"></aotw-icon>
</aotw-button>

<div class="title">
  <aotw-dynamic-text alignment="right">{{ activeArchive }}</aotw-dynamic-text>
  <aotw-icon name="logo" size="medium"></aotw-icon>
  <span>of the World</span>
  <aotw-button ghost (click)="toggleMenu('archive')">
    <aotw-icon name="arrow-down" [ngClass]="{ up: isArchiveMenuOpen }"></aotw-icon>
  </aotw-button>

  <!-- TODO: Attach to Overlay Manager -->
  <div class="title_archive-menu" *ngIf="isArchiveMenuOpen">
    <a
      *ngFor="let archive of archives"
      [ngClass]="{ active: archive.name === activeArchive }"
      (click)="setActiveArchive(archive)"
    >
      {{ archive.name }}
    </a>
  </div>
</div>
